/*
Purple rgb(85,37,130)
Gold   rgb(253,185,39)
*/

@media only screen and (max-width: 300px){
    #minSizeOverlay {
            display: absolute;
    }
}

body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100vw; 
    height: 100vh; 
    background: rgb(91,43,130);
    font-family: 'Varela Round', sans-serif;
}

#minSizeOverlay {
    position: absolute;
    z-index: 100;
    display: none;
    height: 90vh;
    width: 90vw;
    background: rgb(253,185,39);
    color: white;
    font-size: 2em;
    padding: 5vh 5vw 5vh 5vw;
}

#topHalf {
    padding: 5vh 5vw 5vh 5vw;
    font-weight: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#bottomHalf, #bugWrapper, #roadWrapper {
    padding: 0 0 0 0;
    font-weight: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}


#title {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    font-size: 4em;
    padding-bottom: 5vh;
}

#titleLink {
    font-weight: 800;
    color: rgb(253,185,39);
}

a, a:visited, a:valid, #titleLink, #repoLink {
    color: rgb(253,185,39);
    text-decoration: underline;
}

#description {
    word-wrap: break-word;
    line-height: 125%;
    font-size: 1.25em;
}

#changelog, #roadMap, #bugs {
    font-size: 1.15em;
    padding-top: 5vw;
    padding-left: 5vw;
    padding-bottom: 5vw;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#changelog {
    padding-bottom: 0;
}

.date {
    font-size: 1.5em;
}

.update {
    padding: 5vh 0vw 5vh 3vw;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 5vh; */
    flex: 1 1 auto;
    border-style: solid;
    border-width: 0 0 0 3vw;
}

.version {
    padding: 3vh 0 3vh 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.link {
    display: contents;
    color: rgb(253,185,39);
}

.date {
    padding-bottom: 1vh;
}

.code, .file, .command, .keyword {
    /* display: contents; */
    width: fit-content;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    display: inline;
}

.command {
    background-color: rgba(0, 0, 0, 0.5);
    color: red;
    font-weight: 800;
    font-family: 'Roboto Mono', monospace;
}

.file {
    background: black;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    background-color: rgba(0, 0, 0, 0.5);
}

.code {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: black;
}

.keyword {
    color: rgb(253,185,39);
    background-color: rgba(197, 125, 255, 0.5);
    font-weight: 800;
}

.roadmapVersion, .changelogVersion {
    background-color: rgba(255, 255, 255, 0.125);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 1.25em;
    margin-bottom: 2vh;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    font-size: 2.25em;
}

.roadmapVersion {
    width: fit-content;
}

.list {
    list-style: disc;
    line-height: 200%;
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.updateWrapper, .versionWrapper {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
}

.updateWrapper {
    margin-bottom: 5vw;
    background-color: rgba(0, 0, 0, 0.25);
}

.bottomtext {
    font-size: 2em;
    font-weight: 800;
}

#mostRecentUpdate {
    margin-top: 2.5vh;
}

.listWrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: fit-content;
}


#firstversion {
    padding-top: 2vh;
}

#readMoreWrapper {
    display: none;
    flex-direction: column;
}

.readBtn {
    font-size: 2em;
    padding: 5vw 0 5vw 0;
    margin: 0 0 5vw 0;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-width: 0 3vw 0 0;
    border-color: rgba(255, 255, 255, 0.9);
    font-family: 'Varela Round', sans-serif;
}