/*
Purple rgb(85,37,130)
Gold   rgb(253,185,39)
*/

@media only screen and (max-width: 300px){
    #minSizeOverlay {
            display: absolute;
    }
}

body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100vw; 
    height: 100vh; 
    background: rgb(91,43,130);
    font-family: 'Varela Round', sans-serif;
}

#minSizeOverlay {
    position: absolute;
    z-index: 100;
    display: none;
    height: 90vh;
    width: 90vw;
    background: rgb(253,185,39);
    color: white;
    font-size: 2em;
    padding: 5vh 5vw 5vh 5vw;
}

#topHalf {
    padding: 5vh 5vw 5vh 5vw;
    font-weight: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

#bottomHalf, #bugWrapper, #roadWrapper {
    padding: 0 0 0 0;
    font-weight: 100;
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}


#title {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    font-size: 4em;
    padding-bottom: 5vh;
}

#titleLink {
    text-decoration: none;
    font-weight: 800;
    color: white;
}

a, a:visited, a:valid, #titleLink, #repoLink {
    color: white;
    text-decoration: underline;
}

#description {
    word-wrap: break-word;
    line-height: 175%;
}

#changelog, #roadMap, #bugs {
    padding-top: 5vh;
    padding-left: 5vh;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#roadMap {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 0;
    padding-bottom: 0;
}

.date {
    font-size: 1.5em;
}

.update, .version {
    padding: 1vh 0vw 1vh 3vw;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    flex: 1 1 auto;
}


.version {
    margin-bottom: 0;
    padding-bottom: 2vh;
    padding-left: 5vw;
}

.link {
    display: contents;
    color: white;
}

.date {
    padding-bottom: 1vh;
}

.code, .file, .command {
    /* display: contents; */
    width: fit-content;
}

.command {
    background-color: rgba(0, 0, 0, 0.5);
    color: red;
    font-weight: 800;
    font-family: 'Roboto Mono', monospace;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
}

.file {
    background: black;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto Mono', monospace;
    display: inline;
}

.code {
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    color: black;
    display: inline;
}

.roadmapVersion, .changelogVersion {
    background-color: rgba(255, 255, 255, 0.125);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 1.25em;
    margin-bottom: 2vh;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;
    font-size: 2.25em;
}

.roadmapVersion {
    width: fit-content;
}

.list {
    list-style: disc;
    line-height: 200%;
    padding-right: 5vw;
    padding-left: 5vw;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    flex-wrap: wrap;
}

.updateWrapper, .versionWrapper {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
}

.updateTab {
    width: 3vw;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex: 0 0 auto;
    margin-bottom: 5vh;
}

.bottomtext {
    font-size: 2em;
    font-weight: 800;
}

#mostRecentUpdate {
    padding-top: 2.5vh;
}

.listWrapper {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    height: fit-content;
}

#roadmapTitle {
    padding-left: 5vw;
}

#firstversion {
    padding-top: 2vh;
}