/*
Purple rgb(85,37,130)
Gold   rgb(253,185,39)
*/

@media only screen and (max-width: 300px){
    #minSizeOverlay {
            display: block;
    }
}

body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 100vw; 
    height: 100vh; 
    background: rgb(91,43,130);
    font-family: 'Varela Round', sans-serif;
}

#minSizeOverlay {
    position: absolute;
    z-index: 100;
    display: none;
    height: 90vh;
    width: 90vw;
    background: rgb(253,185,39);
    color: white;
    font-size: 2em;
    padding: 5vh 5vw 5vh 5vw;
}

#topHalf, #bottomHalf {
    padding: 5vh 2vw 5vh 2vw;
    font-weight: 100;
    color: white;
}

#title {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    font-size: 4em;
    padding-bottom: 5vh;
}

#titleLink {
    text-decoration: none;
    font-weight: 800;
}

a:visited {
    color: white;
}

#description {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

#changelog {
    padding-top: 3vh;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.update {
    padding-bottom: 2vh;
    line-height: 110%;
}

.updateDetails {
    line-height: 150%;
}

.link {
    display: contents;
}

.date {
    padding-bottom: 1vh;
}